<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     
    <link rel="stylesheet" href="/css/core.css">
    <title>changed password</title>
</head>

<body>

    <section class='bacground-index'>
				<div class='box'>

					<div class='logo'> 
						Happy Farm
					</div>
                     <h3 class="hdg-lv3 ">Hello: <%= firstname %> <%= lastname %> !</h3>
					 <h3 class="hdg-lv3 ">Your Email: <%= email %></h3>
                    <form method="post" class="login-form">
                        <div class="form">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="Password" required />
                        </div>
                        <div class="form">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" name="confirmpassword" placeholder="Confirm Password" required />
                        </div>
                        <button type="submit" class="btn btn-button">Change Password</button>
                    </form>

				</div>
			</section>
   
</body>


</html>