/*Menu button*/
.nav-global-menu {
	position: absolute;
	width: 5rem;
	height: 5rem;
	right: 0;
	top: 0;
	display: none;
}
.nav-global-menu span {
	display: block;
	width: 2.4rem;
	height: 0.1rem;
	position: absolute;
	left: 1.1rem;
	background: #336699;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.nav-global-menu span.b1 {
	top: 1.7rem;
}
.nav-global-menu span.b2 {
	top: 2.6rem;
}
.nav-global-menu span.b3 {
	top: 3.5rem;
}
.nav-global-menu.is-active {
	position: fixed;
}
.nav-global-menu.is-active span {
	background: #fff;
}
.nav-global-menu.is-active span.b1 {
	transform: translateY(0.9rem) rotate(315deg);
	-webkit-transform: translateY(0.9rem) rotate(315deg);
}
.nav-global-menu.is-active span.b2 {
	opacity: 0;
}
.nav-global-menu.is-active span.b3 {
	transform: translateY(-0.9rem) rotate(-315deg);
	-webkit-transform: translateY(-0.9rem) rotate(-315deg);
}

/*Menu button*/
.nav-global {
	display: flex;
	overflow: hidden;
}
.nav-global > li {
	padding: 0 3rem;
}
.nav-global > li > a {
	position: relative;
	font-size: 1.4rem;
	font-weight: bold;
	display: flex;
	height: 4rem;
	align-items: center;
}
.nav-global > li:last-child {
	padding-right: 0;
}
.nav-global > li > a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	border-bottom: 0.3rem solid #2065c0;
	visibility: hidden;
	transition: all 0.3s ease;
	transform: translateX(-50%);
	-webkit-transition: all 0.3s ease;
	-webkit-transform: translateX(-50%);
}
.no-touchevents .nav-global > li a,
.no-touchevents .nav-global > li > a:hover {
	opacity: 1;
	text-decoration: none;
}
.no-touchevents .nav-global > li:hover > a::after,
.nav-global > li.is-hover > a::after,
.nav-global > li.current > a::after {
	width: 60%;
	visibility: visible;
}
.nav-parent-wrap {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	width: 100vw;
	background: #2065c0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
.no-touchevents .nav-parent-wrap {
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
}
.nav-global > li.is-hover .nav-parent-wrap {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	z-index: 1;
}
.nav-parent {
	display: flex;
}
.nav-parent__title {
	width: 33.33vw;
	color: #fff;
	box-sizing: border-box;
	font-size: 2.2rem;
	text-align: center;
	padding: 0 2rem;
	margin: 4.6rem 0;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	letter-spacing: 0.12em;
}
.nav-parent__title a {
	color: #fff;
}
.nav-parent__title a:hover {
	text-decoration: none;
}
.nav-parent__title:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 0;
	right: 0;
	top: 0;
	border-right: 0.1rem solid #fff;
	opacity: 0.5;
}
.nav-global__sub {
	position: relative;
	width: 33.33vw;
	box-sizing: border-box;
	padding: 3.2rem 0 2.7rem 5%;
	font-size: 1.6rem;
}
.nav-global__sub > li > a {
	padding: 1rem 4rem 1rem 2rem;
	display: block;
	color: #fff;
	transition: background 0.3s ease;
	position: relative;
	font-weight: bold;
	-webkit-transition: background 0.3s ease;
}
.no-touchevents .nav-global__sub > li > a:hover {
	color: #fff;
}
.nav-global__sub__title:after {
	content: '';
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	border-top: 0.1rem solid #fff;
	border-right: 0.1rem solid #fff;
	transform: translate(-50%, -45%) rotate(45deg);
	transform-origin: center;
	position: absolute;
	top: 50%;
	right: 2rem;
	visibility: hidden;
	-webkit-transform: translate(-50%, -45%) rotate(45deg);
}

.nav-global__sub > li.is-active > a,
.no-touchevents .nav-global__sub > li:hover > a {
	background: #3378d3;
	text-decoration: none;
}
.nav-global__sub > li.is-active > a:after,
.no-touchevents .nav-global__sub > li:hover > a:after {
	visibility: visible;
}
.nav-global__sub__child {
	position: absolute;
	background: #3378d3;
	min-height: 100%;
	left: 100%;
	top: 0;
	width: 33.333vw;
	box-sizing: border-box;
	display: block;
	padding: 3.2rem 0 2.7rem 10%;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	font-size: 1.4rem;
	font-weight: bold;
}
.nav-global__sub__child > li {
	padding: 1.2rem 3rem 1.1rem 1rem;
}
.nav-global__sub__child > li > a {
	display: inline;
	color: #fff;
	position: relative;
	background-image: linear-gradient(#fff, #fff);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 0 0.1rem;
	transition: background-size 0.3s;
	padding-bottom: 0.4rem;
	-webkit-transition: background-size 0.3s;
}
.no-touchevents .nav-global__sub__child > li > a:hover {
	color: #fff;
	text-decoration: none;
	background-size: 100% 0.1rem;
	opacity: 1;
}
.nav-global__sub > li.is-active .nav-global__sub__child,
.no-touchevents .nav-global__sub > li:hover .nav-global__sub__child {
	display: block;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

@media only screen and (max-width: 768px) {
	.is-opened-menu {
		overflow: hidden;
	}
	.nav-global-menu {
		display: block;
	}
	.nav-global-wrap {
		visibility: hidden;
		left: 100%;
		position: fixed;
		width: 100%;
		top: 0;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		overflow-y: auto;
		transition: all 0.3s ease-in-out;
		background-color: #2065c0;
		-webkit-transition: all 0.3s ease-in-out;
	}
	.nav-global-wrap.is-active {
		left: 0;
		display: block;
		visibility: visible;
	}
	.nav-global {
		display: block;
		padding: 3.5rem 4% 5rem;
	}
	.nav-global > li {
		padding: 0;
	}
	.nav-global > li + li {
		margin-top: 2rem;
	}
	.nav-global > li.nav_special {
		margin-bottom: 3rem;
	}
	.nav-global > li > a {
		color: #fff !important;
		font-size: 1.8rem;
		border-bottom: 0.1rem solid #90b2e0;
		height: auto;
		display: block;
		margin-bottom: 0.8rem;
		padding-bottom: 0.7rem;
		letter-spacing: 0.06em;
		font-weight: bold;
	}
	.nav-global > li > a:after {
		display: none;
	}
	.nav-parent-wrap {
		position: static;
		visibility: visible;
		opacity: 1;
		background: none;
		width: auto;
		pointer-events: auto;
	}
	.nav-parent {
		display: block;
	}
	.nav-parent__title {
		display: none;
	}
	.nav-parent__title:after {
		display: none;
	}
	.nav-global__sub {
		width: auto;
		padding: 0;
	}
	.nav-global__sub > li > a {
		padding: 0.6rem 0 0.6rem 1.4rem;
		font-weight: normal;
	}
	.nav-global__sub > li:hover > a,
	.nav-global__sub > li.is-active > a {
		background: none;
	}
	.nav-global__sub__title:after {
		transform: translate(-50%, -50%) rotate(135deg);
		transition: all 0.3s ease;
		visibility: visible;
		right: 1.3rem;
		-webkit-transform: translate(-50%, -50%) rotate(135deg);
		-webkit-transition: all 0.3s ease;
	}
	.nav-global__sub__child {
		position: static;
		visibility: visible;
		opacity: 1;
		width: auto;
		padding: 0;
		background: none;
		min-height: 0;
		height: 0;
		overflow: hidden;
		pointer-events: auto;
	}
	.nav-global__sub > li.is-active .nav-global__sub__child {
		height: auto;
	}
	.nav-global__sub > li.is-active .nav-global__sub__title:after {
		transform: translate(-50%, -50%) rotate(-45deg);
		-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	}
	.nav-global__sub__child > li {
		padding: 0;
	}
	.nav-global__sub__child > li > a {
		padding: 0.5rem 0 0.5rem 5rem;
		position: relative;
		display: block;
		font-weight: normal;
	}

	.nav-global__sub__child > li:last-child {
		padding-bottom: 0.7rem;
	}
	.nav-global__sub__child > li > a:before {
		position: absolute;
		content: '';
		width: 1rem;
		border-bottom: 0.1rem solid #fff;
		top: 1em;
		left: 2.9rem;
	}
} /* endMedia */

/*Footer navi*/
.nav-contentinfo {
	text-align: center;
}
.nav-contentinfo ul {
	display: inline-flex;
	margin: 0 auto;
}
.nav-contentinfo ul li a {
	padding: 1rem;
	display: block;
}

/*Back to Top*/
.nav-backtotop {
	position: fixed;
	right: 1rem;
	bottom: 0;
}
