// color
:root{
    --color-background-01: #F2F2F2;
	--color-text-red: #BE0D00;
    --color-white: #fff;
    --color-gray-white: #CCCCCC;
    --color-red: #BE0D00;
    --color-blue: #1425AF;
    --color-white-gray:#CDD6DD;
    --color-black-30: #303030;
    --color-gray: #808080;
    --color-red-02: #DC0307;
    --color-gray-02: #707070;
	--color-black : #333333;
    --color-background-game: #118ae1;
}
