.hdg-lv2 {
	font-size: 3rem;
	margin: 1rem 0 1rem;
	padding: 0 0 0.8rem 0;
	color:	var(--color-black);
	position: relative;
	font-weight: bold;
}
.hdg-lv3 {
	font-size: 1.6rem;
	margin: 1rem 0 1rem;
	color: var(--color-white);
	text-transform: uppercase;
	position: relative;
	text-align: center;
	font-weight: bold;
}
.hdg-lv4 {
	font-size: 1.4rem;
	margin: 1rem 0 1rem;
	color: var(--color-black);
	font-weight: bold;
}
